@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  min-width: 85vw;
  padding: 1em;
  border: 0 solid black;
  border-radius: 9px;
  box-shadow: -5px -5px 20px 8px rgba(75, 73, 73, 0.5);
}

.container h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  font-size: small;
  font-weight: normal;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

input {
  padding: 0.4rem 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.8em;
}
#Email {
  text-transform: lowercase;
}

.registerBtn {
  background-color: rgb(196, 196, 196);
  width: 100%;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: medium;
  font-weight: lighter;
  padding: 0.45em;
  transition: 500ms ease-in-out;
}

.registerBtn a {
  text-decoration: none;
  color: black;
}

.registerBtn:hover {
  background-color: black;
}

.registerBtn:hover a {
  color: white;
}

.forwardPage {
  display: flex;
  justify-content: center;
  padding: 0.5em 0 0 0;
}

.forwardPageA {
  color: black;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    min-width: 60vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    min-width: 50vw;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    min-width: 30vw;
  }
}
